@import "../vars.scss";

article.blogPost {

    header {
        text-align: center;

        figure {
            margin-bottom: 0.5rem;
            
            @media screen and (max-width:$break-small){
              margin-left:-1rem;
              margin-right:-1rem;
            }
        }
    }

    section {
        margin-bottom: 1.5rem;

        &.description {
            font-size: 1.1em;
            line-height: 1.3em;
            font-style: italic;
        }

        &.body {
            p {
                // font-size: 1.3em;
                // line-height: 1.3em;
            }
        }
    }

    footer {
        padding: 1.2rem 0;
        display: flex;
        flex-direction: column;

        >* {
            margin: 0.6rem 0;
        }

        .author{
            border-width: 1px 0 2px 0px;
            border-style: solid;
            border-color: $color-shade-dark;
            padding: 1rem 0;
            width: 100%;
        }

        // >:not(:last-child){
        //   margin-bottom: 1rem;
        // }

    }

}

// .hero {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   height: 12.5em;
//   background: #e1e1e1;
//   margin: -1em -2.5em 1em;
//   font-size: 2em
// }