.categories {
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: flex-start;

  a{
    display:block;
    padding: 0.2rem;
    margin: 0.2rem;
    span{
      margin-left:0.2rem;
    }
  }
}
