.travel-diary {
    // display:flex;
    // flex-direction: row;
    // height:75vh;
    // >*{
    //     flex:1;
    // }
    display: grid;
    grid-template-areas:
        "map day-info"
        "map content"
        "map controls";
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: auto 1fr auto;
    row-gap: 10px;
    column-gap: 5px;
    height: 100%;
}

.travel-diary-map {
    grid-area: map;
}

.travel-diary-day-info {
    grid-area: day-info;
    opacity:1;

    &.fadeOut {
        opacity:0;
    }
    transition:opacity 0.3s ease-in-out;
}

.travel-diary-controls {
    grid-area: controls;
}

.travel-diary-content {
    grid-area: content;
    overflow-y: auto;
    opacity:1;


    &.fadeOut {
        opacity:0;
    }
    transition:opacity 0.3s ease-in-out;
}

// .travel-diary-day {
//     opacity: 1;
//     transition: opacity 0.3s ease-in-out;
// }