@import "../vars.scss";

ul {
    // list-style: none;
}



body {
    font-family: $font-body;
    font-weight: 300;
    min-width: 320px;
    font-size: 18px;
    line-height: 1.58em;

    @media screen and (max-width:$break-small) {
        
    }

    strong{
        font-weight: 600;
    }


    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: $font-heading;
        font-weight: 500;
    }

    a {
        color: $color-links;
        transition: all 0.2s ease-in-out;
    }

    a:hover {
        color: $color-accent-dark;
    }
}

article{
    max-width: 780px;
}

.container{
    max-width:1180px;
    flex-grow: 1,1;
    margin:0 auto;
    padding:1rem;
    background-color: $color-bg-light;
    box-shadow: $shadow;
}