@import "../vars.scss";

figure.index-hero{
    position: relative;
    margin:0;
    padding:0;

    figcaption{
        position: absolute;
        display:flex;
        flex-direction: column;
        justify-content: center;
        width:100%;
        bottom:0px;
        height:1.8em;
        font-size: 2em;
        opacity: 0.95;
        background: #AAAAAA99;
        color: $color-fg-light;
    }
}