/**
 * article grid
 */
.articleList{
  padding:2rem;
}

 .articleList > ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
}