@import "../vars";

.postPreview {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    a {
        position: relative;
        text-align: left;
        text-decoration: none;
    }

    header {
        width: 100%;
        display:block;
        min-height: 23px;
        margin-bottom: 0.1rem;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            display: inline-block;
            color: $color-accent-light;
            margin-bottom: 0;

            &:not(:last-child):after {
                margin-right: .2em;
                content: ", ";
            }
        }
    }

    figure {
        position: relative;
        margin-bottom: 0;

        &:before {
            position: absolute;
            top: 15px;
            left: -20px;
            z-index: 2;
            content: '';
            border-top: 3px solid $color-accent-light;
            width: 30px;
            margin-right: 0.5em;
        }

        figcaption {
            position: absolute;
            bottom: 0;
            left: 12px;
            transform: translate(0, 50%);
        }
    }

    section {
        margin-top: 18px;

        h2 {
            // font-family: 'YoungSerif';
            font-weight: normal;
            font-size: 22px;
            line-height: 1.3;
            letter-spacing: 0em;
            text-transform: none;
            margin-top: 0;
        }

        p {
            opacity: 0.9;
        }

        footer {
            font-size: 16px;
            line-height: 1.5;
            color: $color-accent-light;
            text-transform: none;

            a{
                display: flex;
                align-items: center;
                text-decoration: unset;
                color:currentColor;
        
                &:before {
                    display: block;
                    content: '';
                    border-top: 2px solid;
                    width: 0;
                    margin-right: 0.5em;
                    margin-top: 4px;
                    -webkit-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }
            }
        }

        > :not(:last-child) {
            margin-bottom: 0.5em;
        }

    }

    a.link {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    // Animations
    figure:before,
    header,
    footer {
        transition: all 0.3s ease-in-out;
        opacity: 0;
        pointer-events: none;
    }

    // On Hover
    &:hover {
        figure{
            box-shadow: $shadow;
        }

        header,
        figure:before,
        footer {
            opacity: 1;
            pointer-events: all;
        }

        footer>a:before {
            width: 29px;
        }
    }

    @media screen and (max-width:$break-small){
        padding:1em;
        box-shadow: $shadow;

        header,
        figure:before,
        footer{
            opacity: 1;
            pointer-events: all;
        }

        footer>a:before{
            width:29px;
        }
    }
}