@import "../vars.scss";

/**
 * article grid
 */
.articleList {
    >ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-gap: 2rem;

        >li{
            max-width: 500px;
        }
    }

    @media screen and (max-width:$break-small) {
        padding: 0.3rem 0.2rem;

        >ul {
            grid-gap: 0.6rem;
        }
    }
}



.articleList>ul>li {}