@import "../vars";

.captionLabel {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: $color-caption-fg;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0.25em 0.75em 0.25em;
    background-color: $color-caption-bg;
    text-transform: uppercase;
    *{
        color:inherit;
    }
}