@import "../vars.scss";

footer.main {
    width: 100%;
    padding-top: 2rem;
    text-align: center;

    ul.links {
        list-style: none;
        display: flex;
        margin: 0;
        justify-content: center;
        padding:0;

        a{
          text-decoration: none;
        }
        &>li:not(:last-child) {
          &::after{
            content: "\2022";
            padding: 0 1rem;
          }
        }
    }

    .copyright{
      display:flex;
      flex-direction: column;
      justify-content: center;
      margin-top:1.5*$rythm;
      font-weight: 500;
      color:$color-subtle;
      >*{
        margin:0 0.4rem;
        padding:0;
      }
      
      span.credits{
        font-weight: normal;
      }
    }

}