@import "../vars.scss";

$nav-color-bg : $color-bg-dark;
$nav-color-fg : $color-bg-light;

.navigation-content{
    margin:0 auto;
    max-width: 600px;
}

ul.navigation {
    @include reset-list;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    max-height: 100px;
    font-size: 1.0em;

    .navigationItem {
        position: relative;
        display: inline-flex;
        align-items: center;
        min-width: 75px;
        text-align: center;

        span {
            width: 100%;
            padding: 1rem;
        }

        a {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0 0.5*$rythm;
            color: currentColor;
        }

        &.active {
            font-weight: 600;
        }

        &:hover {
            // background-color: scale-color($nav-color-bg, $lightness: 10%);
            // ;
            // text-shadow: 0 0 10px #ddd;
            opacity: 0.6;
        }
    }


}