nav.post-navigation  {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:1rem 0;

    >:last-child{
      text-align: right;
    }

    .post-nav-link{
      display:flex;
      flex-direction: column;
      position:relative;

      a::after{
        content:"";
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
      }
    }

}