@import "../vars.scss";
@import "../styles/main.scss";

.layout {
    box-sizing: border-box;
    // overflow: hidden;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 60px auto 140px;
    grid-template-columns: auto;
    grid-template-areas:
        "navigation"
        "main"
        "footer";

    >nav {
        grid-area: navigation;
        background-color: $color-header-bg;
        color: $color-header-fg;
        z-index: 100;
        box-shadow: $shadow;
        border-bottom: 2px solid $color-border-dark;
    }

    >main {
        grid-area: main;
        flex-direction: column;
        background-color: $color-main-bg;
        z-index: 90;
    }

    >footer {
        grid-area: footer;
        z-index: 100;
        box-shadow: $shadow;
    }
}

